{% load static %}
<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Що ми робимо</title>
    <link rel="shortcut icon" type="image/svg" href="{% static './img/logo-icon.svg' %}" sizes="96x96" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="landing services-page-landing pos-r">
        <div class="container pos-r">
            <header id="myHeader">
                <nav class="nav-menu navbar navbar-expand-lg p-0">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <div class="logo">
                            <div class="logo-icon-container">
                                <img src="{% static 'img/logo-icon.svg' %}" alt="">
                            </div>
                            <p>Enver</p>
                        </div>
                    </a>
                    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="header__nav-menu navbar-nav mr-auto mt-2 mt-lg-0 collapse navbar-collapse">
                            <li class="nav-item">
                                <a class="nav-link p-0" href="#get-started">головна</a>
                            </li>
                            <li class="btn-group m-0 p-0 border-0 nav-item">
                                <a class="nav-link p-0 border-0" href="#services">послуги</a>
                                <a type="button" class="btn dropdown-toggle-split m-0 p-0 border-0" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-caret-down"
                                        style=" margin-top: 2px; color: var(--second-text-color);"></i>
                                </a>
                                <div class="dropdown-menu border-0">
                                    <a class="dropdown-item p-0" href="{% url 'services-page' %}">Що ми робимо</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0" href="#our-projects">наші проекти</a>
                            </li>
                            <li class="btn-group m-0 p-0 border-0 nav-item">
                                <a class="nav-link p-0 border-0" href="#video-section">про нас</a>
                                <a type="button" class="btn dropdown-toggle-split m-0 p-0 border-0" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-caret-down"
                                        style=" margin-top: 2px; color: var(--second-text-color);"></i>
                                </a>
                                <div class="dropdown-menu border-0">
                                    <a class="dropdown-item p-0" href="{% url 'about-us' %}">Хто ми</a>
                                </div>
                            </li>
                        </ul>
                        <a href="{% url 'contact-us' %}" class="header-btn__contact-us form-inline"
                            style="text-decoration: none;">Зв'яжіться з нами</a>
                    </div>
                </nav>
            </header>
            <main style="position: relative;">
                    <section class="first-section pos-r">
                        <div class="gradient-rectangle-1"></div>
                        <div class="gradient-rectangle-2"></div>
                        <div class="first-section__content-container pos-r">
                            <h1 class="animated animatedFadeInLeft fadeInLeft" >Це новий світ з <b>Enver</b>.</h1>
                            <div class="second-column">
                                <p >Об'єднання розмов, творців і конверсій.</p>
                                <img src="{% static 'img/universe-galaxy.gif' %} " alt="Universe Galaxy">
                            </div>
                        </div>
                        <div class="gradient-1"></div>
                        <p class="services-page__first-section-paragraph">Зовсім інший звір: медіа, маркетингова та технологічна компанія, створена для нової ери.</p>
                    </section>
                    <section class="services-section pos-r">
                        <div class="gradient-1"></div>
                        <div class="gradient-rectangle-1"></div>
<div class="services-item-container" data-aos="fade-right">
    <div class="services-item-content">
     <h2>Enver</h2>
     <h3>Результативність</h3>
     <p>Багатомарковий, багаторинковий та багато SKU. Ми проникаємо до суті вашого бізнесу, щоб розблокувати прирост.</p>
     <a href="{% url '404' %}">
        Дізнатися більше
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-arrow-up-right"
       viewBox="0 0 16 16"> 
         <path fill-rule="evenodd" stroke="currentColor" 
          d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z" />
         </svg>
      </a>
    </div>
    <div class="services-section__img-container">
        <img src="{% static 'img/showreel-comp-lossy-75.jpg' %}" alt="">
    </div>
</div>
                        
                        <div class="services-item-container" data-aos="fade-left">
                            <div class="services-item-content">
                                <h2>Enver</h2>
<h3>Комерція</h3>
<p>Хочете піднятися на новий рівень? Ми допоможемо вам відповідати на очікування клієнтів зі спокійними цифровими
    враженнями.</p>                                <a href="{% url '404' %}">
                                    Дізнатися більше
                                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-arrow-up-right"
                                        viewBox="0 0 16 16"> 
                                        <path fill-rule="evenodd" stroke="currentColor" 
                                            d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z" />
                                    </svg>
                                </a>
                            </div>
                            <div class="services-section__img-container">
                                <img src="{% static 'img/untitled-design-19.png' %}" alt="">
                            </div>
                        </div>
                        
                        <div class="services-item-container" data-aos="fade-right">
                            <div class="services-item-content">
                                <h2>Enver</h2>
                                <h3>Медіа-мережа</h3>
                                <p>З десятирічним досвідом будування власних спільнот ми знаємо, як надати потужність вашим медіа-каналам.</p>
                                <a href="#">
                                    Дізнатися більше
                                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-arrow-up-right"
                                        viewBox="0 0 16 16"> 
                                        <path fill-rule="evenodd" stroke="currentColor" 
                                            d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z" />
                                    </svg>
                                </a>
                            </div>
                            <div class="services-section__img-container">
                                <img src="{% static 'img/gettyImages-89376788.jpg' %} " alt="">
                            </div>
                        </div>
                        
                        <div class="services-item-container" data-aos="fade-left">
                            <div class="services-item-content">
                                <h2>Enver</h2>
<h3>Соціальний ланцюг</h3>
<p>SocialChain - провідне агентство соціальних мереж, яке зосереджене на побудові міцніших зв'язків між людьми та
    брендами.</p>
                                <a href="{% url '404' %}">
                                    Дізнатися більше
                                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-arrow-up-right"
                                        viewBox="0 0 16 16"> 
                                        <path fill-rule="evenodd" stroke="currentColor" 
                                            d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z" />
                                    </svg>
                                </a>
                            </div>
                            <div class="services-section__img-container">
                                <img src="{% static 'img/social-chain.png' %} " alt="">
                            </div>
                        </div>
                        <div class="gradient-rectangle-2"></div>

                    </section>
                    <section class="third-section">
                    <h2>Ви хочете це, ми маємо це.</h2>
                        <div class="gradient-rectangle-1"></div>
                        <div class="gradient-rectangle-2"></div>
                        <div class="third-section__columns">
 <swiper-container class="mySwiper" navigation="true" css-mode="true">
    <swiper-slide>
     <div class="third-section__first-column third-section__column">
       <h4>продуктивність</h4>
       <ul>
         <li>
             <span>Аналітика</span>
         </li>
         <li>
             <span>Цифрова PR</span>
         </li>
         <li>
             <span>Платний пошук</span>
         </li>
         <li>
             <span>Програматичний дисплей</span>
         </li>
         <li>
             <span>Маркетинг партнерів</span>
         </li>
         <li>
             <span>Технічний SEO</span>
         </li>
         <li>
             <span>Платний соціальний</span>
         </li>
         <li>
             <span>Маркетинг контенту</span>
         </li>
         <li>
             <span>Креатив</span>
         </li>
         <li>
             <span>Управління ринком</span>
         </li>
         <li>
             <span>Оптимізація конверсії</span>
         </li>
      </ul>
   </div>
  </swiper-slide>
                                <swiper-slide>
                                <div class="third-section__second-column third-section__column">
                                <h4>Комерція</h4>
                                <ul>
                                    <li>
                                        <span>Цифровий розвиток комерції</span>
                                    </li>
                                    <li>
                                        <span>Відкриття</span>
                                    </li>
                                    <li>
                                        <span>Бізнес-аналіз</span>
                                    </li>
                                    <li>
                                        <span>Навчання платформи</span>
                                    </li>
                                    <li>
                                        <span>Тестування системи</span>
                                    </li>
                                    <li>
                                        <span>Цифровий досвід клієнта</span>
                                    </li>
                                    <li>
                                        <span>UX/UI</span>
                                    </li>
                                    <li>
                                        <span>Цифровий консалтинг</span>
                                    </li>
                                    <li>
                                        <span>Проектування продуктів та послуг</span>
                                    </li>
                                    <li>
                                        <span>Швидкі прототипи</span>
                                    </li>
                                    <li>
                                        <span>Платформи електронної комерції</span>
                                    </li>
                                    <li>
                                        <span>Інтеграція систем</span>
                                    </li>
                                </ul>

                                </div>
                                </swiper-slide>
                                <swiper-slide>
                                <div class="third-section__third-column third-section__column">
                                <h4>SocialChain</h4>
                                <ul>
                                    <li>
                                        <span>Соціальна стратегія</span>
                                    </li>
                                    <li>
                                        <span>Маркетинг впливу</span>
                                    </li>
                                    <li>
                                        <span>Платна реклама та розповсюдження</span>
                                    </li>
                                    <li>
                                        <span>Брендований контент</span>
                                    </li>
                                    <li>
                                        <span>Соціальний слух</span>
                                    </li>
                                    <li>
                                        <span>Моніторинг трендів</span>
                                    </li>
                                    <li>
                                        <span>Картографування подорожі клієнта</span>
                                    </li>
                                    <li>
                                        <span>Дизайн соціального бренду</span>
                                    </li>
                                    <li>
                                        <span>Копірайтинг та TOV</span>
                                    </li>
                                    <li>
                                        <span>Ідеї та активація кампаній</span>
                                    </li>
                                    <li>
                                        <span>Стратегія та активація контенту</span>
                                    </li>
                                    <li>
                                        <span>Фреймворки вимірювання</span>
                                    </li>
                                </ul>

                                </div>
                                </swiper-slide>
                                <swiper-slide>
                                <div class="third-section__fourth-column third-section__column">
                                    <h4>Медіа-мережа</h4>
                                    <ul>
                                        <li>
                                            <span>Стратегія контенту</span>
                                        </li>
                                        <li>
                                            <span>Монетизація</span>
                                        </li>
                                        <li>
                                            <span>Оптимізація</span>
                                        </li>
                                        <li>
                                            <span>Креатив</span>
                                        </li>
                                        <li>
                                            <span>Управління правами</span>
                                        </li>
                                        <li>
                                            <span>Дані та звітність</span>
                                        </li>
                                        <li>
                                            <span>Електронна комерція</span>
                                        </li>
                                        <li>
                                            <span>Редагування</span>
                                        </li>
                                        <li>
                                            <span>Управління каналом YouTube</span>
                                        </li>
                                        <li>
                                            <span>Управління шоу на Snapchat</span>
                                        </li>
                                    </ul>

                                </div>
                                </swiper-slide>
                            </swiper-container>
                            <div class="gradient-1"></div>
                        </div>
                        <a href="{% url 'contact-us' %}">
                            <span class="text-underline" style="position: relative;">
                                Зв'яжіться з нами
                            </span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" stroke="currentColor"
                                        d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z" />
                            </svg>
                        </a>
                    </section>
                    <section class="companies-section">
                        <h3 data-aos="fade-left">Довіртесь нам.<br>Ви в хорошій компанії.</h3>
                        <div class="companies-logos__container">
                            <div class="companies-section__logo">
                                <img src="{% static 'img/prime-video-logo.svg' %}" alt="Prime Video">
                            </div>
                            <div class="companies-section__logo">
                                <img src="{% static 'img/new-balance-logo.png' %}" alt="New Balance">
                            </div>
                            <div class="companies-section__logo">
                                <img src="{% static 'img/puma-logo.png' %}" alt="Puma">
                            </div>
                            <div class="companies-section__logo">
                                <img src="{% static 'img/pull-and-bear-logo.png' %}" alt="Pull and Bear">
                            </div>
                            <div class="companies-section__logo">
                                <img src="{% static 'img/sk-ii-logo.png' %}" alt="SK-II">
                            </div>
                            <div class="companies-section__logo">
                                <img src="{% static 'img/KFC-logo.svg' %}" alt="KFC">
                            </div>
                            <div class="companies-section__logo">
                                <img src="{% static 'img/spotify-logo.png' %}" alt="Spotify">
                            </div>
                            <div class="companies-section__logo">
                                <img src="{% static 'img/amex-256.png' %}" alt="Amex">
                            </div>
                            <div class="companies-section__logo">
                                <img src="{% static 'img/vodafone-logo.svg' %}" alt="Vodafone">
                            </div>
                            <div class="companies-section__logo">
                                <img src="{% static 'img/primark-logo.svg' %}" alt="Primark">
                            </div>
                        </div>
<!--                        <div class="gradient-1"></div>-->
<!--                        <div class="gradient-2"></div>-->
                    </section>
            </main>
            <footer>
                <nav>
                    <div class="logo">
                        <img src="{% static 'img/logo-icon.svg' %}" alt="">
                        <p>Enver</p>
                    </div>
                <div class="footer__pages">
                    <p><a href="#">Підтримка</a></p>
                    <p><a href="#">Політика конфіденційності</a></p>
                    <p><a href="#">Умови та положення</a></p>
                </div>
                <div class="footer__text-about-rights">
                    <p>© 2020 Enver, Всі права захищено</p>
                </div>
                </nav>
            </footer>
            <button id="scrollToTopButton" class="btn__to-top-container"><i class="fa-solid fa-arrow-up"
                    style="color: #ffffff;"></i></button>
        </div>
    </div>

        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>   
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        <script src="{% static 'js/scrolled-header.js' %}"></script>
        <script src="{% static 'js/slider-services-page.js' %}"></script>
        <script src="{% static 'js/btn-top.js' %}"></script>
</body>

</html>